*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  color: #6f737f;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  margin-top: 0;
}
p {
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  width: 100%;
}
section {
  padding: 5em 0;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  /* position: relative; */
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  background-color: #a59678;
  display: inline-block;
  padding: 0.5em 1.5em;
  border-radius: 5rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  line-height: 1.1;
}
.list__link {
  opacity: 1;
}
.list__link:hover {
  opacity: 0.7;
}
.header {
  background-color: #2e323f;
}
.nav-toggle .icon {
  width: 2.5rem;
  fill: #fff;
  cursor: pointer;
}
.nav {
  position: absolute;
  background-color: #2e323f;
  visibility: hidden;
  top: calc(5rem);
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 90%;
  border-radius: 0.5rem;
  max-width: 300px;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 200ms ease-in-out, visibility 250ms;
}
.nav.show {
  visibility: visible;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: clip-path 200ms ease-in-out, visibility 1ms;
}
.nav__list--primary {
  margin-bottom: 2em;
}
.nav__item {
  margin-bottom: 0.5em;
}
.nav__link {
  text-transform: uppercase;

  transition: opacity 200ms ease-in-out;
  font-family: "Oswald", sans-serif;
}

.hero {
  background-color: #3b4050;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.hero__title {
  margin-bottom: 0;
  font-size: 3rem;
  color: #fff;
}
.hero__text {
  color: #ffffff;
  font-size: 1.25rem;
}
.hero__button {
  font-size: 1.25rem;
}
.accent-color {
  color: #a59678;
}
.card {
  margin: 0 auto;
  margin-bottom: 2em;
  text-align: center;
  max-width: 30rem;
  background-color: #7d87a826;
  padding: 1em;
  border-radius: 3px;
}
.card__title {
  color: #a59678;
  font-size: 1.875rem;
}
.main__content h2 {
  color: #a59678;
  font-size: 2.25rem;
}
.main__content p {
  margin-bottom: 2em;
  font-size: 1.125rem;
}
.sideBar__card {
  background-color: #3b4050;
  text-align: center;
  color: #ffffff;
  padding: 1em;
  font-size: 1rem;
  max-width: 30rem;
  margin: 0 auto;
  margin-top: 2em;
  border-radius: 3px;
}

.sideBar__card h2 {
  color: #fff;
  font-size: 1.25rem;
}

.footer {
  background-color: #3b4050;
  padding: 3em 0;
  text-align: start;
  color: #ffffffaf;
}

.footer__title {
  color: #ffffff;
  font-size: 2.5rem;
}
.footer__about {
  width: 31.25rem;
}
.footer h3 {
  font-size: 1.5rem;
  color: #a59678;
}
.footer p {
  font-size: 1rem;
}
.footer__list {
  margin-bottom: 2em;
}
.footer__item {
  margin-bottom: 0.5em;
}
.footer__link {
  font-size: 1rem;
  color: #ffffffaf;
}
.footer__link:hover {
  color: #ffffff;
}
@media (min-width: 700px) {
  .header {
    padding: 0.4em 0;
  }
  .nav-toggle {
    display: none;
  }
  .nav {
    all: unset;
    display: flex;
    align-items: center;
  }
  .nav__list {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .nav__list--primary {
    margin-right: 3em;
  }
  .nav__item + .nav__item {
    margin-left: 1.5em;
  }
  .hero__title {
    font-size: 3.75rem;
  }
  .hero__text {
    font-size: 1.5rem;
  }

  .main__content__image img {
    object-fit: cover;

    max-height: 350px;
  }
  .sideBar {
    display: flex;
  }
  .sideBar__card {
    margin-left: 0;
    margin-right: 0;
  }
  .sideBar__card + .sideBar__card {
    margin-left: 1em;
  }
  .footer__about {
    flex-grow: 4;
    width: 100%;
    margin-bottom: 1em;
  }

  .footer__about p {
    max-width: 600px;
  }
  .footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer col {
    flex-grow: 1;
  }
}

@media (min-width: 1000px) {
  .hero .row {
    align-items: flex-end;
  }
  .hero .col + .col {
    margin-left: 1.5em;
  }

  .hero__title {
    font-size: 5.625rem;
    line-height: 1;
  }
  .hero__text {
    font-size: 1.5rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }
  .card {
    margin: 0;
  }
  .card + .card {
    margin-left: 3em;
  }
  .main__content {
    width: 60%;
  }
  .main__content h2 {
    line-height: 1;
  }
  .main__content__image img {
    max-height: unset;
  }
  .sideBar {
    display: block;
    width: 30%;
    max-width: 20rem;
  }
  .sideBar__card {
    margin-top: 0;
  }
  .sideBar__card + .sideBar__card {
    margin-left: auto;
    margin-top: 2em;
  }
  .footer .row {
    gap: 2em;
    flex-wrap: nowrap;
  }
  .footer__title {
    font-size: 3.75rem;
    text-align: center;
  }
  .footer__about {
    max-width: 26.25rem;
    margin-bottom: 0;
  }
  .footer .col + .col {
    margin-left: 1em;
  }
}
